:root {
    --base-color: #C0713F;

}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
    }


    .navbar {
        padding-top: 20px;
        padding-right: 50px;
        font-size: 13px;
            &.collapseShow {
                background-color: var(--base-color);
            }

        .navbar-collapse {

            .navbar-nav {

                .nav-link {
                    color: #fff;
                    padding-left: 0.8rem;
                    padding-right: 0.8rem;

                    &.active {
                        color: #fff;
                    }
                }
            }
        }
    }

    .hero-banner {
        width: 100%;
        margin-bottom: 30px;
        margin-top: -65px;

        img {
            width: 100%;
        }
    }

    @media screen and (max-width: 991px) {
        .hero-banner {
            // margin-top: 0;
        }

        .navbar {
            position: sticky;

            .navbar-toggler {
                color: #fff;
                border-color: #fff;
                float: right;
                margin-left: auto;
            }
        }
    }

    .baseline {
        position: absolute;
        display: block;
        width: 75px;
        height: 3px;
        background-color: var(--base-color);
        margin-top: 5px;
        // bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-content {
        text-align: center;
        justify-content: center;

        .container {
            .countdown {
                font-family: 'Bebas Neue', sans-serif;

                .number {
                    font-size: 2em;
                    color: var(--base-color);
                }

                .time {
                    font-size: 1em;
                    text-transform: uppercase;
                    margin-right: 15px;
                    letter-spacing: 4px;
                }
            }

            .soon {
                font-size: 3.8em;
                font-weight: 600;
                text-transform: uppercase;
                position: relative;
                margin-bottom: 25px;
            }

            .construction {
                font-size: 1.6em;
            }
        }
    }

    .footer {
        margin-top: 40px;

        .container {
            .links-row {
                text-align: center;

                .column {
                    padding: 20px 0;

                    .icon {
                        color: var(--base-color);

                        .material-symbols-outlined {
                            font-size: 40px;
                        }

                        .collection {
                            padding: 5px 0;

                            .fa-brands {
                                font-size: 32px;
                                margin-right: 3px;

                                &:last-of-type {
                                    font-size: 27px;
                                    margin-top: -2px;
                                }
                            }
                        }
                    }

                    .sec-name {
                        position: relative;
                        margin-bottom: 25px;

                        .baseline {
                            width: 55px;
                        }
                    }

                    .links {
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 425px) {
        .main-content {

            .container {
                .countdown {

                    .number {
                        font-size: 1.5em;
                    }

                    .time {
                        font-size: 1em;
                        margin-right: 15px;
                        letter-spacing: 3px;
                    }
                }

                .soon {
                    font-size: 2em;
                    margin-bottom: 20px;
                }

                .construction {
                    font-size: 1.4em;
                }
            }
        }
    }
}